/.cache.mk
/compat-autoconf.h
/compat-autoconf.h.tmp
/modules.order
/Module.symvers
/drivers/net/ovpn/ovpn.ko
/drivers/net/ovpn/.ovpn.ko.cmd
/drivers/net/ovpn/ovpn.mod.c
/drivers/net/ovpn/.ovpn.mod.cmd
/drivers/net/ovpn/ovpn.mod
/drivers/net/ovpn/modules.order
/drivers/net/ovpn/*.o
/drivers/net/ovpn/.*.cmd
/.tmp_versions
/tests/ovpn-cli
/.*.cmd
